<ion-card>
 <ion-header>
    <ion-toolbar>
      <ion-title>
        <div class="title-row">
          <span>Instagram</span>
          <span class="icons">
            <ion-icon name="heart-circle-outline"></ion-icon>
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </span>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-header>
    <div class="header-content">
      <img alt="Silhouette of mountains" src="../../assets/img/ramon.jpg" />
      <img alt="Silhouette of mountains" src="../../assets/img/enciso.jpg" />
      <img alt="Silhouette of mountains" src="../../assets/img/carlos.png" />
      <img alt="Silhouette of mountains" src="../../assets/img/vitor.jpg" />
      <img alt="Silhouette of mountains" src="../../assets/img/061758d956e26f100f08070eba6e34c0.jpg">
      <ion-icon style="font-size: 30px;" name="arrow-forward-circle-outline"></ion-icon>
    </div>
    
  </ion-card-header>

<ion-card-content class="feed-content">
  <div class="feed-list">

    <div class="feed-item">
      <div class="post-header">
        <img class="mini-avatar" alt="Avatar pequeno" src="../../assets/img/ramon.jpg" />
        <span class="post-username">Ramon Sosa</span>
        <span class="iconsb">
          <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
         
        </span>
      </div>
      <div class="image-wrapper">
        <img alt="Imagem grande" src="../../assets/img/3897c0e40e04bf064a6dbedcdeb739be.jpg" />
      </div>
      <span class="iconsc">
         <ion-icon name="heart-outline"></ion-icon>
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          <ion-icon name="repeat-outline"></ion-icon>
          <span class="iconsb">
            <ion-icon name="bookmark-outline"></ion-icon>
          </span>
          
        </span>
    </div>
    <!-- Fim do primeiro item-->
    <div class="feed-item">
      <div class="post-header">
        <img class="mini-avatar" alt="Avatar pequeno" src="../../assets/img/061758d956e26f100f08070eba6e34c0.jpg" />
        <span class="post-username">Estevão</span>
        <span class="iconsb">
          <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        </span>
      </div>
      <div class="image-wrapper">
        <img alt="Imagem grande" src="../../assets/img/061758d956e26f100f08070eba6e34c0.jpg" />
      </div>
      <span class="iconsc">
         <ion-icon name="heart-outline"></ion-icon>
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          <ion-icon name="repeat-outline"></ion-icon>
          <span class="iconsb">
            <ion-icon name="bookmark-outline"></ion-icon>
          </span>
        </span>
    </div>
   

     <div class="feed-item">
      <div class="post-header">
        <img class="mini-avatar" alt="Avatar pequeno" src="../../assets/img/vitor.jpg" />
        <span class="post-username">Vitor Roque</span>
        <span class="iconsb">
          <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        </span>
      </div>
      <div class="image-wrapper">
        <img alt="Imagem grande" src="../../assets/img/vitor.jpg" />
      </div>
     <span class="iconsc">
          <ion-icon name="heart-outline"></ion-icon>
           <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          <ion-icon name="repeat-outline"></ion-icon>
         <span class="iconsb">
            <ion-icon name="bookmark-outline"></ion-icon>
          </span>
        </span>
    </div>

     <div class="feed-item">
      <div class="post-header">
        <img class="mini-avatar" alt="Avatar pequeno" src="../../assets/img/enciso.jpg" />
        <span class="post-username">Julio Enciso</span>
        <span class="iconsb">
          <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        </span>
      </div>
      <div class="image-wrapper">
        <img alt="Imagem grande" src="../../assets/img/enciso.jpg"/>
      </div>
      <span class="iconsc">
          <ion-icon name="heart-outline"></ion-icon>
           <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          <ion-icon name="repeat-outline"></ion-icon>
         <span class="iconsb">
            <ion-icon name="bookmark-outline"></ion-icon>
          </span>
        </span>
    </div>

    <div class="feed-item">
      <div class="post-header">
        <img class="mini-avatar" alt="Avatar pequeno" src="../../assets/img/carlos.png" />
        <span class="post-username">Carlos Miguel</span>
        <span class="iconsb">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        </span>
      </div>
      <div class="image-wrapper">
        <img alt="Imagem grande" src="../../assets/img/carlos.png"/>

      <span class="iconsc">
          <ion-icon name="heart-outline"></ion-icon>
           <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          <ion-icon name="repeat-outline"></ion-icon>
         <span class="iconsb">
            <ion-icon name="bookmark-outline"></ion-icon>
          </span>
        </span>
      </div>
    </div>
  </div>
</ion-card-content>
</ion-card>

<ion-tab-bar slot="bottom">
  <ion-tab-button>
    <ion-icon name="home-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button>
    <ion-icon name="search"></ion-icon>
  </ion-tab-button>
  <ion-tab-button>
    <ion-icon name="push-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button>
    <ion-icon name="albums-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button>
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>